@page "/"
@inject HttpClient Http

<PageTitle>SmartTasks - Manager</PageTitle>

<h1>My tasks</h1>

<div style="background: #f4f4f4; padding: 15px; border-radius: 8px; margin-bottom: 20px;">
    <h3>Add new task</h3>
    <input @bind="newTaskName" placeholder="Task name" />
    <input @bind="newTaskDesc" placeholder="Task description" />
    <button @onclick="SaveTask" class="btn btn-success">Save to Redis</button>
</div>

<hr />

@if (tasks == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ul>
        @foreach (var task in tasks)
        {
            <li><strong>@task.Key:</strong> @task.Value</li>
        }
    </ul>
}

@code {
    private Dictionary<string, string>? tasks;
    
    private string newTaskName = "";
    private string newTaskDesc = "";

    protected override async Task OnInitializedAsync()
    {
        await LoadTasks();
    }

    private async Task LoadTasks()
    {
        tasks = await Http.GetFromJsonAsync<Dictionary<string, string>>("/");
    }

    private async Task SaveTask()
    {
        var model = new { Name = newTaskName, Description = newTaskDesc };

        var response = await Http.PostAsJsonAsync("/save", model);

        if (response.IsSuccessStatusCode)
        {
            newTaskName = "";
            newTaskDesc = "";
            await LoadTasks();
        }
    }
}