@page "/"
@inject HttpClient Http

<PageTitle>My Smart Tasks</PageTitle>

<h1>List of Redis Tasks</h1>
<button class="btn btn-primary mb-3" @onclick="RefreshTasks">Refresh the list</button>

@if (tasks == null)
{
    <p><em>Loading tasks...</em></p>
}
else
{
    <ul>
        @foreach (var task in tasks)
        {
            <li><strong>@task.Key:</strong> @task.Value</li>
        }
    </ul>
}

@code {
    private Dictionary<string, string>? tasks;

    protected override async Task OnInitializedAsync()
    {
        // call my API endpoint to list all keys via nginx proxy
        tasks = await Http.GetFromJsonAsync<Dictionary<string, string>>("/api/");
    }

    private async Task RefreshTasks()
    {
        tasks = await Http.GetFromJsonAsync<Dictionary<string, string>>("/api/");
    }
}